header{
    background-color: rgb(149, 195, 32);
    height: 100px;
}
.head{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    background-color: rgb(195, 2, 244);
    height: 100px;
    margin-top: 300px;
}
.te{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}