body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  h1, h2 {
    font-weight: normal;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  #bt{
    background-color: aqua;
    width: 100px;
    height: 30px;
  }
  #val{
    color: green;
    font-size: 25px;
  }